@if (user) {
<div class="grid-container">
  <h1 class="mat-h1">Mi Perfil</h1>

  <mat-divider></mat-divider>
  <br/>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="profile-avatar"><mat-icon mat-card-avatar>person</mat-icon></div>
      <mat-card-title>{{ user.firstName }} {{ user.firstLastName }}</mat-card-title>
      <mat-card-subtitle>{{ user.username }}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <br/>
      <p><strong>Nombre completo:</strong> {{ user.firstName }} {{ user.secondName }} {{ user.firstLastName }} {{ user.secondLastName }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>RUT:</strong> {{ user.rut }}</p>
      <p><strong>Creado:</strong> {{ user.createdAt | date:'dd/MM/yyyy HH:mm' }}</p>
      <p><strong>Actualizado:</strong> {{ user.updatedAt | date:'dd/MM/yyyy HH:mm' }}</p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-flat-button color="primary" (click)="openChangePassword()">
        Cambiar contraseña
      </button>
    </mat-card-actions>
  </mat-card>

   <!-- RESUMEN POR ESTABLECIMIENTO -->
  <br/>
  <h2 class="mat-h2">
  Resumen de Bienes por Establecimiento
  <span class="total-label">(Total {{ totalGeneral }})</span>
</h2>
<mat-divider></mat-divider>
<br/>

<div class="summary-grid">
  <mat-card *ngFor="let item of resumen; let i = index"
            class="summary-card"
            matBadge="item.total"
            matBadgeColor="primary"
            matBadgeSize="large"
            matBadgePosition="above after"
            matBadgeOverlap="false">
    
    <mat-card-header>
      <mat-icon color="primary">location_city</mat-icon>
      <mat-card-title>{{ item.stablishment }}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="kpi">
      <div class="kpi-number color-{{ i % 5 }}">{{ item.total }}</div>
      <div class="kpi-label">Registros</div>
    </mat-card-content>
  </mat-card>
</div>


  
</div>
}
