.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.mat-card-avatar.mat-icon {
  background: #e0e0e0;
  border-radius: 50%;
  font-size: 24px;      /* tamaño del ícono dentro del avatar */
  line-height: 40px;    /* centra verticalmente */
  text-align: center;   /* centra horizontalmente */
  width: 40px;
  height: 40px;
}
