<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu

    </mat-toolbar>

    <mat-nav-list>


      <a mat-list-item routerLink="view/home" routerLinkActive="active-link">
        <div class="menu-item">
          <mat-icon>home</mat-icon>
          <span>Mi Perfil</span>
        </div>
      </a>

      <a mat-list-item routerLink="view/register" routerLinkActive="active-link">
        <div class="menu-item">
          <mat-icon>work_update</mat-icon>
          <span>Registro</span>
        </div>
      </a>


      <!-- Mantenedor con submenú -->
      <a mat-list-item [matMenuTriggerFor]="mantenedorMenu">
        <div class="menu-item">
          <mat-icon>build</mat-icon>
          <span>Mantenedor</span>
          <mat-icon class="submenu-arrow">expand_more</mat-icon>
        </div>
      </a>
      <mat-menu #mantenedorMenu="matMenu">
        <button mat-menu-item routerLink="view/stablishment" routerLinkActive="active-link">
          <mat-icon>apartment</mat-icon>
          <span>Establecimientos</span>
        </button>
        <button mat-menu-item routerLink="view/user" routerLinkActive="active-link">
          <mat-icon>group</mat-icon>
          <span>Usuarios</span>
        </button>
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      
      <span class="title"><mat-icon>inventory_2</mat-icon> Control de Bienes Especiales</span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
        <span>{{ user?.email }}</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Mi Perfil</span>
        </button>
        <button mat-menu-item (click)="openChangePassword()">
          <mat-icon>password</mat-icon>
          <span>Cambiar Clave</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar</span>
        </button>
      </mat-menu>

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>